/* shared styles */
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.btn-primary{
    background-color: #E55473;
    border: 0;
    padding: 10px 40px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}


/* header styles */
.h1{
    margin: 0;
    padding: 30px 0 30px 45px;
    color: rgb(195, 14, 14);
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

ul{
    display: flex;   
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 75px;
}


li > a{
    text-decoration: none;
    color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #edd7dc;
}

.header-text{
    margin: 200px 0px 50px 240px;
    width: 40%;
}

.header > img{
    width: 400px;
    margin-bottom: -60px;
}

/* main area styles */

.main-area-text{
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
}

.feature-area{
    width: 60%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin-bottom: 150px;
}

.feature-pics{
    display: flex;
}

.feature-pics img{
    width: 200px;
    margin-top: 75px;
    
}

.pic-5{
    background-color: #0598a04d;
    border-radius: 150px 150px 0 0px;
    padding: 90px 60px 0px 60px;
    margin-right: 25px;
}
.pic-6{
    background-color: #b41bae4d;
    border-radius: 150px 150px 0 0px;
    margin-right: 25px;
    padding: 15px 60px 0px 60px;
}
.pic-7{
    background-color: #bec41a6a;
    border-radius: 150px 150px 0 0px;
    padding: 0px 50px 0px 50px;
}

/* facilities area styles */
.facilities-area{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto 0 auto;
}

.fac-1, .fac-2, .fac-3{
    text-align: center;
}